<main>
<p> Free in the City || NYC is the easy way to find free entertainment and cultural events in NYC.</p>
<break>
<p>Use the select boxes to specify the:</p>
<break>
	<ol>
		<li>Event date: You can view free events for the next 90 days.</li>
		<li>Event location: Select "All of NYC" to see the 5 boroughs or specify 1 or more boroughs.</li> 
		<li>Event type: Select "All" or specify 1 or more event types.</li>
	</ol>
<p>Then click Go! and free events that match your request will be listed below.  Click on the event name to link directly to the event website for the most current information.</p>
<p><button id="intro"><%= link_to "Get Started", "events/display" %></button>
</p>
</main>