body {
	width: 100%;
	font-family: 'Ubuntu', Arial, sans-serif;
	letter-spacing: -0.5px;
	background: #FFF;
}

header {
	text-align: center;
	margin-bottom: 2em;
	margin-bottom: 2rem;
	letter-spacing: -1px;
	font-weight: normal;
}

body, h2, a {
	color: #0084B0;
}

h1, form label, input[type=submit] {
	color: #5BE300;
}

div#display{
	width:40%;
	margin-left: 30%;
	font-size: 1.05em;
	font-size: 1.05rem;
}

form label {
	display: inline-block;
	width: 30%;
	font-size: 1.2em;
	font-size: 1.2rem;
	margin-bottom: 1em;
	margin-bottom: 1rem;
}

form select {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size: 1em;
	font-size: 1rem;
}

button {
	color: #5BE300;
	background: #FFF;
	font-size: 1.1em;
	font-size: 1.1rem;
/*	border:1px solid #FF0012; */
	 /*include browser-specific prefixes for CSS3 element*/
/*    -webkit-border-radius: 0.5em 0.5em; 
    -ie-border-radius: 0.5em 0.5em; 
    border-radius:0.5em 0.5em; */
}

a {
	text-decoration: none;
}

a:hover {
		font-weight: bold;
}

ul{
    list-style-type: none;    
}

input[type=submit] {
	margin: 1em 0 0 30%;
	margin: 1rem 0 0 30%; 
	background: #FFF;
	font-size: 1.4em;
	font-size: 1.4rem;
	border:1px solid #5BE300;
	 /*include browser-specific prefixes for CSS3 element*/
    -webkit-border-radius: 0.5em 0.5em; 
    -ie-border-radius: 0.5em 0.5em; 
    border-radius:0.5em 0.5em;
}

div#listing{
	color: #472C84;
	margin-bottom: 2em;
	margin-bottom: 2rem;
}

li p{
	line-height: 1.2;
	margin-top: 0em;
	margin-bottom: 0.3em;
	margin-bottom: 0.3rem;  
}

#directions{
	font-style: italic;
	margin-left: 4.5em;
	margin-left: 4.5rem; 
	line-height: 1.2;
	margin-top: 0.75em;
	margin-top: 0.75rem;
}