<!DOCTYPE html>
<html>
<head>
  <title>Free in the City || NYC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3>Free in the City || NYC is your guide to the best free events in NYC!</h3>
<h3>*Free concerts*Free movies*Free theater*Free museums*Free dance*Free exhibits*Free events*</h3>

<%= yield %>

</body>
</html>
