<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
  <title>Free in the City || NYC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1>Free in the City || NYC is your guide to the best free events in NYC!</h1>
<h2>Free concerts | Free movies | Free theater | Free museums | Free dance | Free exhibits | and more...</h2>
</header>

<%= yield %>

</body>
</html>
