<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
  <title>Free NYC concerts, movies, museums & events | Free in the City || NYC</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="NYC, free, concerts, museums, movies, theater, dance, events, performances">
  <meta name="description" content="Free NYC concerts, museums, movies, exhibits and events.">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1>Free in the City || NYC<span> is your guide to the best free events in NYC!</span></h1>
<!---<h2>Free concerts | Free movies | Free theater | Free museums | Free dance | Free exhibits | and more...</h2> -->
<h4><%= mail_to "freeinthecitynyc@gmail.com", "Contact us", subject: "Free in the City || NYC" %></h4>
</header>

<%= yield %>

</body>
</html>